<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-title class="ion-text-center">
      <h1>MIGUEL EDUARDO CUENCA CHAMBA</h1>
      <br />
      <img width="200" height="241"
        src="https://scontent.fgye1-1.fna.fbcdn.net/v/t1.6435-9/157496047_5211476395591527_8522590738310307943_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEw03cuOq9Cpt0qlfBUCDzVcSecrmgfdwhxJ5yuaB93CPOqlDCHAxmosajYQXNJTJObXhdmSDtxIRDR1E4A6P2d&_nc_ohc=WRbB7oVw56AAX_cgEM3&tn=FG5SnZKNi9ZGl64p&_nc_ht=scontent.fgye1-1.fna&oh=00_AT9wHrf_OcMJun4fbxYYBB_OpoSMZGaVW4cIWK8H8IQg1g&oe=62B692D3">

    </ion-title>
    <ion-row>
      <ion-col>
        <h4>A P T I T U D E S</h4>
        <p> Persona seria, responsable y con muchas ganas de
          trabajar y de aprender, con don de gente y
          comunicativo. Me considero un joven de confianza
          y fácil de poder trabajar en equipo Persistente y
          constante para obtener los resultados deseados.</p>
        <h4>E X P E R I E N C I A</h4>
        <b>Fundador | Café lojano de altura | junio 2020</b>
        <p>Soy el encargado de dar a conocer sobre nuestro
          producto principal el cafe, me encargo de la
          publicidad por medio de redes sociales,
          actualizaciones de promociones, precios y
          distribución a nivel nacional.</p>
        <br />
        <b>Servicio de atención al cliente| Atimasa | octubre
          2013 – abril 2014</b>
        <p>Encargado del servicio al cliente, de guiar y dar
          sugerencia al cliente sobre los productos que
          ofrecíamos en la empresa.</p>
        <h4>E D U C A C I Ó N</h4>
        <b>Desarrollo de software | Estudiando
          Escuela Politécnica Nacional</b>
        <p>Me encanta la oportunidad que tuve para poder
          seguir mis estudiando en la carrera deseada, lo
          cual me ayudado a formar tanto profesional como
          en la parte moral, gracias al excelente ambiente
          que hay en mi área de estudio</p>
        <br />
        <h4>C E R T I F I C A D O S</h4>
        <b>NDG Linux Unhatched | Cisco| enero 2021</b>
        <p>NDG Linux Unhatched permite a los estudiantes
          navegar en el extremo superficial de Linux, el
          sistema operativo back-end utilizado por titanes
          globales como Facebook, Google, Microsoft, NASA,
          Tesla, Amazon y más.</p>
      </ion-col>
      <ion-col>

        <h4>O B J E T I V O</h4>
        <p>Es obtener nuevos conocimientos
          y ponerlos en práctica para poder
          desenvolverme en mi trabajo
          aportando, ayudando en la tarea
          que se me sea asignada.</p>
        <p>

          <b>Fecha De Nacimiento:</b>4 de junio
          1995
        </p>
        <br />
        <p>
          <b>Estado Civil:</b> Soltero
        </p>
        <br />
        <p>
          <b>Correo:</b> ecuenca4@gmail.com
        </p>
        <br />
        <p>
          <b>Cedula De Identidad:</b> 1724518086
        </p>
        <br />
        <p>
          <b>Telefono:</b> 0983873954
        </p>
        <br />
        <a target="_blank" rel="noopener noreferrer"
          href="https://www.linkedin.com/in/eduardo-cuenca-b854b09b">Linkedin</a>

        <h4>E X P E R I E N C I A <br />D E <br />
          V O L U N T A R I A D O <br />O<br />
          L I D E R A Z G O</h4>
        <p>Hace algunos años tuve la
          oportunidad de poder volver a mi
          pueblo, donde pude ver el abuso
          hacia los campesinos, lo cual me
          motivo ayudar, brindando
          capacitaciones sobre el cultivo de
          café y dando a conocer su
          excelente producto a todo el país.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>